@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color:#1d3c41;
	overflow-y: scroll;
}
a{
	color: rgb(250,250,250);
	text-decoration: none;
}

.container{
	width: 100%;
	position: relative;
	text-align: center;
	margin-top:5%;
}
.clr{
	clear: both;
}
.topbar  header{
	position: relative;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.topbar  header h1{
    position:absolute;
	margin-left: 35%;
	padding:5px 50px 2px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
	box-align:center;
	font-weight: 400;
	color:rgba(220,250,260,0.9);
	text-shadow: 2px 2px 1px rgba(0,0,0,1);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.topbar{
	position:relative;
	line-height: 70px;
	font-size: 11px;
	top:0;
	width:100%;
	background: rgba(0, 0, 0, 1);
	text-transform: uppercase;
	z-index: 999;
	position: fixed;
	box-shadow: 0px 1px 3px rgba(0,0,0,.9);
}
.topbar span.right{
	float: right;
	}
.topbar span.right a{
	float: left;
	display: block;
}
.footer{
	float:left;
	width: 100%;
	background-color: rgb(0, 0, 0);
	position: relative;
	bottom:-100px;
	padding:0 10% 0 10%;
	box-shadow: 5px 1px 3px rgba(0,0,0,.9);
}
.footer-grid{
	float:left;
	padding:10px 5% 10px 5%;
}
.footer-grid h3{
	color:#3D3D3D;
	font-size:1.2em;
	font-family: 'open_sanssemibold';
	margin-bottom: 0.8em;
}
.footer-grid ul li a{
	color: #8C8C8C;
	font-size: 0.9em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer-grid ul li a:hover{
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
/*
.social-icons li{
	display:inline-block;
}
.social-icons li a{
	width:48px;
	height:45px;
	display:block;
}
.social-icons li a.facebook{
	background:url('../images/footer-icons.png') no-repeat 0px 0px;
}
.social-icons li a.twitter{
	background: url('../images/footer-icons.png') no-repeat -56px 0px;
}
.social-icons li a.youtube{
	background: url('../images/footer-icons.png') no-repeat -112px 0px;
}*/
.footer-grid p{
	color: #A2A2A2;
	font-size: 0.875em;
	line-height: 1.5em;
	padding:0 0 0.4em 0;
}

.footer-grids {
	/*position: absolute;
    bottom: 0px;*/
	padding:25em 0 5em; 
}
.copy-right{
	margin-top:1em;
}
.copy-right a{
	color: #A2A2A2;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.copy-right a:hover{
	color:#F36EA7;
}
/*---//End-footer-grids---*/
/*---strat-about----*/
.about h1{
	color: #3D3D3D;
	font-size: 2em;
	font-family: 'open_sanssemibold';
	margin:1em 0 0 0;
}
.about h1 span{
	color:#E95192;
	font-family: 'open_sanssemibold';
}
.clear{clear:both;}